@tailwind base;
@tailwind components;
@tailwind utilities;




.types .bug {
  background: #8cb230;
}

.types .dark {
  background: #58575f;
}

.types .dragon {
  background: #0f6ac0;
}

.types .electric {
  background: #eed535;
}

.types .fairy {
  background: #ed6ec7;
}

.types .fighting {
  background: #d04164;
}

.types .fire {
  background: #fd7d24;
}

.types .flying {
  background: #748fc9;
}

.types .ghost {
  background: #556aae;
}

.types .grass {
  background: #62b957;
}

.types .ground {
  background: #dd7748;
}

.types .ice {
  background: #61cec0;
}

.types .normal {
  background: #9da0aa;
}

.types .poison {
  background: #a552cc;
}

.types .psychic {
  background: #ea5d60;
}

.types .rock {
  background: #baab82;
}

.types .steel {
  background: #417d9a;
}

.types .water {
  background: #4a90da;
}




/* style pokemon background */
.bug {
  background: #8bd674;
}

.dark {
  background: #75747e;
}

.dragon {
  background: #1582e7;
}

.electric {
  background: #f2cb55;
}

.fairy {
  background: #e98acc;
}

.fighting {
  background: #eb4971;
}

.fire {
  background: #ff9448;
}

.flying {
  background: #829edb;
}

.ghost {
  background: #6882d4;
}

.grass {
  background: #8bbe8a;
}

.ground {
  background: #f78551;
}

.ice {
  background: #6bddce;
}

.normal {
  background: #c5c9d6;
}

.poison {
  background: #bd5fe9;
}

.psychic {
  background: #ff787a;
}

.rock {
  background: #d5c895;
}

.steel {
  background: #4d92b4;
}

.water {
  background: #58abf6;
}
